<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <div th:fragment="header">
        <link rel="stylesheet" type="text/css" href="/bower_components/jquery_treegrid/TreeGrid.css"/>
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/css/bootstrap.min.css"/>
        <!--<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/css/bootstrap-theme.min.css"/>-->

        <link rel="stylesheet" type="text/css" href="/bower_components/metisMenu/dist/metisMenu.css"/>
        <!--<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/font-awesome/css/font-awesome.min.css"/>-->
        <!-- DataTables CSS -->
        <link type="text/css" rel="stylesheet" href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"/>

        <!-- DataTables Responsive CSS -->
        <!--<link rel="stylesheet" type="text/css" href="/css/index.css"/>-->

        <!--<link href="http://wl.swao.cn/heitu/nifty/css/nifty.min.css" rel="stylesheet"/>-->


        <!--STYLESHEET-->
        <!--=================================================-->

        <!--Open Sans Font [ OPTIONAL ] -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet"/>
        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <!--<link href="/css/css/bootstrap.min.css" rel="stylesheet"/>-->
        <!--Nifty Stylesheet [ REQUIRED ]-->
        <link href="/css/css/nifty.min.css" rel="stylesheet"/>
        <!--Font Awesome [ OPTIONAL ]-->
        <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <!--Animate.css [ OPTIONAL ]-->
        <link href="/plugins/animate-css/animate.min.css" rel="stylesheet"/>
        <!--Morris.js [ OPTIONAL ]-->
        <link href="/plugins/morris-js/morris.min.css" rel="stylesheet"/>
        <!--Switchery [ OPTIONAL ]-->
        <link href="/plugins/switchery/switchery.min.css" rel="stylesheet"/>
        <link href="/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
        <!--Bootstrap Datepicker [ OPTIONAL ]-->
        <link href="/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet"/>

        <link href="/css/css/demo/nifty-demo.min.css" rel="stylesheet"/>
        <link href="/plugins/pace/pace.min.css" rel="stylesheet"/>
        <script src="/plugins/pace/pace.min.js"></script>

        <!--Chosen [ OPTIONAL ]-->
        <link href="/plugins/chosen/chosen.min.css" rel="stylesheet"/>

        <link href="/css/main.css" rel="stylesheet"/>

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular/angular-route.min.js"></script>
        <script src="/bower_components/angular/angular-resource.min.js"></script>
        <!--jQuery [ REQUIRED ]-->
        <script src="/js/lib/jquery-2.1.1.min.js"></script>
        <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script src="/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>


        <script src="/bower_components/layer/layer.js"></script>

    </div>

    <div th:fragment="foot">

        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="/js/lib/bootstrap.min.js"></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src="/plugins/fast-click/fastclick.min.js"></script>
        <!--Nifty Admin [ RECOMMENDED ]-->
        <script src="/js/lib/nifty.min.js"></script>

        <!--Morris.js [ OPTIONAL ]-->
        <script src="/plugins/morris-js/morris.min.js"></script>
        <script src="/plugins/morris-js/raphael-js/raphael.min.js"></script>
        <!--Sparkline [ OPTIONAL ]-->
        <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>

        <!--Skycons [ OPTIONAL ]-->
        <script src="/plugins/skycons/skycons.min.js"></script>

        <!--Switchery [ OPTIONAL ]-->
        <script src="/plugins/switchery/switchery.min.js"></script>

        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src="/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <script src="/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>


        <!--Demo script [ DEMONSTRATION ]-->
        <script src="/js/lib/demo/nifty-demo.min.js"></script>

        <script src="/js/pagejs/index.js"></script>


        <!--Chosen [ OPTIONAL ]-->
        <script src="/plugins/chosen/chosen.jquery.min.js"></script>

        <!--&lt;!&ndash;Specify page [ SAMPLE ]&ndash;&gt;-->
        <!--<script src="/js/lib/demo/dashboard.js"></script>-->

    </div>



    <!--<script src="/bower_components/jquery/jquery-1.11.0.min.js"></script>-->
    <!--<script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>-->



    <!--<script src="http://wl.swao.cn/heitu/nifty/js/nifty.min.js"></script>-->
    <!--<script src="http://wl.swao.cn/heitu/nifty/js/demo/nifty-demo.min.js"></script>-->
    <!--<script src="http://wl.swao.cn/heitu/nifty/js/demo/layouts.js"></script>-->



</head>

<body>
</body>

</html>